<html>
    <head>
        <title>
            About
        </title>
        {%load static%}
        <div class="basic">
                {% include "public.html" %}
            </div>
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
	<style type="text/css">
	
	</style>
    </head>

<body>

    <section class="breadcumb-area bg-img gradient-background-overlay">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <!-- Title -->
                        <h3 class="breadcumb-title">About us</h3>
                        <!-- Breadcumb -->
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="medica-about-content section_padding_100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-7">
                    <div class="medica-about-text">
                        <h2>Welcome to <span>Public</span> Health system</h2>
                        <p>The primary vision of Public Health Information System is to integrate all information about public health status of our state. Details of the patients who approaches Govt. Hospitals are scrutinized and the generated reports will definitely help the Health dept. to take decisions and to make health plans to improve the public health. Patient’s medical history is stored centralized. So that it is easily accessible from anywhere.  There is no need to carry treatment papers.  The system eliminates the data redundancy   repeated works.</p>
                        <!-- <ul>
                            <li>Cardiovascular Diseases</li>
                            <li>Neonatology</li>
                            <li>Ophthalmology</li>
                            <li>Toracic Surgery</li>
                            <li>Gastroenterology</li>
                            <li>Plastic Surgery</li>
                            <li>Neurology</li>
                            <li>Ortopedy</li>
                        </ul>
                        <img src="{% static 'img/bg-img/signature.png' %}" alt=""> -->
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="medica-about-thumbnail">
                        <img src="{% static 'img/bg-img/about1.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="medica-about-us-area">
        <!-- Card Area -->
        <div class="medica-card-area">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="medica-emergency-card wow fadeInUp" data-wow-delay="0.2s">
                            <h5>Public Health Info And Manage</h5>
                            <h4>READ HERE---</h4>
                            <p>health care or healthcare is the diagnosis,treatment and prevention of diseases,illness,injury and other physical and mental 
                                impairements in human beings.Health care is delivered by practitioners in allied health,dentistry,obstetrics,medicines,nursing,
                                optometry,pharmacy,psychology and other health professions.It refers to the work done...</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="medica-doctors-card wow fadeInUp" data-wow-delay="0.4s">
                            <h5>The Doctors</h5>
                            <p>A public health doctor is a medical professional who has specialized in improving and promoting good health and wellbeing in community populations. These professionals are physicians or doctors who are capable of providing medical care to patients, but who generally work to develop policies, provide education, and take other steps that help improve the overall health of a population.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="medica-appointment-card wow fadeInUp" data-wow-delay="0.6s">
                            <h5>PHIAMS</h5>
                            <p>Access to health care services across countries,groups and individuals are largely influenced by social and economic conditions as well
                                as the health policies in places .Countries and jurisdiction have different policies and plans in relation to the personel and population 
                                based health care goals within their societies.Health care system and organisation established to meet the health needs of target population</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>

</html>