<html>
    <head>
        <title>
            table
        </title>
        {%load static%}
        <div class="basic">
                {% include "hdep1.html" %}
            </div>
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
	<style type="text/css">
	
	</style>
</head>
    <body>
            <h1 align="center">COMPLAINT</h1>
            {%csrf_token%}
            <table>
                <tr>
                        <td> HOSPITAL ID:</td>
                        <td>{{hs.hospital_id}}</td>
                    </tr>
                   
                    <tr>
                        <td> PATIENT ID:</td>
                        <td>{{hs.patient_id}}</td>
                    </tr>
                    <tr>
                        <td> DOCTOR ID:</td>
                        <td>{{hs.doctor_id}}</td>
                    </tr>
                    <tr>
                        <td>COMPLAINT:</td>
                        <td>{{hs.complaint}}
                        </td>
                    </tr>
                </table>
                    </body>
                    </html>