<html>
    <head>
            <script type="text/javascript">
                function check()
                {
                  
                         alert("Registered Successfully.....");
                        
        
        
                }
            </script>
            {%load static%}
       <div class="basic">
            {% include "patient1.html" %}
        </div>
    </head>
    <body>
    
        <!-- ***** Appointment Area Start ***** -->
    <section class="medica-book-an-appointment-area section_padding_100_0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-card">
                        <h5>Complaint</h5>

                        <form action="/addcomplaint/" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <select class="form-control" id="hospital" name="select1" required>
                                            <option>Select Hospital</option>
                                            {% for i in ob %}
                                            <option value="{{i.id}}">{{i.hos_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control text-white" name="select2" id="patient" value={{ob1}}>
                                  
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            <select class="form-control" id="doctor" name="select3"  required>
                                                <option>Select Doctor</option>
                                                {% for k in ob2 %}
                                                <option value="{{k.id}}">{{k.staff_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <textarea class="form-control" name="complaint" id="complaint" placeholder="Complaint" required></textarea>
                                        </div>
                                    </div>
                                    
                                <div class="col-12">
                                    <button type="submit" class="btn medica-btn mt-15" value="complaint"  onClick="return check()">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-thumb">
                        <img src="{% static 'img/bg-img/medical1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Appointment Area End ***** -->
</body>
</html>        