<html>
    <head>
            <script type="text/javascript">
                function check()
                {
                  
                         alert("Registered Successfully.....");
                        
        
        
                }
            </script>
            {%load static%}
       <div class="basic">
            {% include "lab_home.html" %}
        </div>
    </head>
    <body>
    
        <!-- ***** Appointment Area Start ***** -->
    <section class="medica-book-an-appointment-area section_padding_100_0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-card">
                        <h5>Lab Test Result</h5>

                        <form action="/addlabres/" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="select5" id="lab" placeholder="lab" value="{{hs.lab_id}}">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="select6" id="request" placeholder="request_id" value="{{hs.id}}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="select2" id="patient" placeholder="opticket" value="{{hs.opticket_id}}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="select3" id="doctor" placeholder="doctor_id" value="{{hs.doctor_id}}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="select4" id="treatment" placeholder="treatment_id" value="{{hs.treatment_id}}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="select1" id="name" placeholder="testname" value="{{hs.test_name}}">
                                    </div>
                                </div>
                              <div class="col-12 col-md-6">
                                     <div class="form-group">
                                      <textarea class="form-control" name="testresult" id="testresult" placeholder="Test Result"  required></textarea>
                                     </div>
                                 </div>
                                <div class="col-12">
                                    <button type="submit" class="btn medica-btn mt-15" value="labresult"  onClick="return check()">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-thumb">
                        <img src="{% static 'img/bg-img/medical1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Appointment Area End ***** -->
</body>
</html>        