<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Medica - Health &amp; Medical Template | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <style type="text/css">
    </style>

</head><body>
        <!-- Preloader -->
        <div id="preloader">
            <div class="medica-load"></div>
            <img src="{% static 'img/core-img/plus.png' %}" alt="logo">
        </div>
    
        <!-- ***** Header Area Start ***** -->
        <header class="header-area">
            <!-- Top Header Area -->
            <div class="top-header-area gradient-background">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 h-100">
                            <div class="h-100 d-md-flex justify-content-between align-items-center">
                                <div class="top-header-social-info">
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="left" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                                <div class="top-header-menu">
                                    <nav class="top-menu">
                                        <ul>
                                            <li><a href="#">FAQ</a></li>
                                            <li><a href="#">Book</a></li>
                                            <li><a href="#">Appointment</a></li>
                                            <li><a href="#">Contacts</a></li>
                                            <li><a href="#">contact@business.com</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header Area -->
            <div class="main-header-area" id="stickyHeader">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 h-100">
                            <div class="main-menu h-100">
                                <nav class="navbar h-100 navbar-expand-lg">
                                    <!-- Logo Area  -->
                                    <a class="navbar-brand" href="index.html"><img src="{% static 'img/core-img/aaa.png' %}" alt="Logo"></a>
    
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medicaMenu" aria-controls="medicaMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>
    
                                    <div class="collapse navbar-collapse" id="medicaMenu">
                                        <!-- Menu Area -->
                                        <ul class="navbar-nav ml-auto">
                                            <li class="nav-item active">
                                                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="/login">Login</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="services.html">contact</a>
                                            </li>
                                        </ul>
                                        <!-- Search Form -->
                                        <div class="header-search-form ml-auto">
                                            <form action="#">
                                                <input type="search" class="form-control" placeholder="Input your keyword then press enter..." id="search" name="search">
                                                <input class="d-none" type="submit" value="submit">
                                            </form>
                                        </div>
                                        <!-- Search btn -->
                                        <div id="searchbtn">
                                            <i class="ti-search" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
        <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
        <!-- Popper js -->
        <script src="{% static 'js/popper.min.js' %}"></script>
        <!-- Bootstrap js -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Plugins js -->
        <script src="{% static 'js/plugins.js' %}"></script>
        <!-- Active js -->
        <script src="{% static 'js/active.js' %}"></script>
</body>
</html>        