<html>
    <head>
        <title>
            table
        </title>
        {%load static%}
        <div class="basic">
                {% include "doctorhome1.html" %}
            </div>
<link href="{% static 'css/style2.css' %}" rel="stylesheet">
	<style type="text/css">
	
	</style>
</head>
    <body>
            {%csrf_token%}
            <table>
                <tr>
                    <td> HOSPITAL ID:</td>
                    <td>{{hs.hospital_id}}</td>
                </tr>
                <tr>
                    <td>PATIENT ID:</td>
                    <td>{{hs.patient_id}}</td>
                </tr>
                <tr>
                        <td> REFERRED HOSPITAL:</td>
                        <td>{{hs.referred_hos_id}}</td>
                    </tr>
                    <tr>
                        <td> DOCTOR ID:</td>
                        <td>{{hs.doctor_id}}</td>
                    </tr>
                    <tr>
                        <td> DOCTOR VIEWS:</td>
                        <td>{{hs.doctor_views}}</td>
                    </tr>
                        <td> REFERRAL DATE:</td>
                        <td>{{hs.ref_date}}</td>
                    </tr>
                </table>
                    </body>
                    </html>