<html>
    <head>
            {%load static%}
       <div class="basic">
            {% include "hdep1.html" %}
        </div>
    </head>
    <script type="text/javascript">
        function check()
        {
          
            var a= f.select.value;
            var b= f.select1.value;
            var c= f.role.value;
            var a1=parseInt(f.number.value.length);

            if(b==0 || a==0 || c==0)
            {
                alert("Please complete the field");
                return false;
            }
                
// return true;

        if(a1!=10)
            {
                alert("phone number should be a 10 digit number");
                return false;
            }
            return true;
            

        }
    </script>
    <body>
    
        <!-- ***** Appointment Area Start ***** -->
    <section class="medica-book-an-appointment-area section_padding_100_0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-card">
                        <h5>Staff Registration</h5>

                        <form method="post" enctype="multipart/form-data" action="/addstaff/" name="f">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <select class="form-control" id="category" name="select" >
                                            <option value="0">Select Category</option>
                                            {% for i in ob2 %}
                                            <option value="{{i.id}}">{{i.category_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <select class="form-control" id="category" name="select1" >
                                            <option  value="0">Select Hospital</option>
                                            {% for j in ob1 %}
                                            <option value="{{j.id}}">{{j.hos_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <select class="form-control"  name="role" id="role"  >
                                            <option value="0">Select_Role</option>
                                            <option value="doctor">doctor</option>
                                            <option value="office">office</option>
                                            <option value="lab">lab</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control text-white" name="specialization" id="Specialization" placeholder="Specialization"  required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control text-white" name="name" id="StaffName" placeholder="Name"  required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" name="address" id="Staffaddress" placeholder="Address"  required></textarea>
                                    </div>
                                </div>
                              
                       
                    <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="number" id="StaffNumber" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="StaffEmail" placeholder="E-mail"  required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="file" class="form-control" name="photo">
                                    </div></div>

                                <div class="col-12">
                                    <button type="submit" class="btn medica-btn mt-15" value="add" onClick='return check()'>Add</button>
                                </div>
                            </div>
                </div>
            </div>
                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-thumb">
                        <img src="{% static 'img/bg-img/medical1.png' %}" height="400px" alt="">
                        <form>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- ***** Appointment Area End ***** -->
</body>
</html>        